.custom-card-header {
    color: white;
    background-color: black;
}

input {
    width: auto;
    height: 50px;
}

.custom-button {
    background-color: blue;
}

.card {
    width: 100%;
    background-color: #ececec;
}

.list-group {
    font-size: 25px;
}

.city-name {
    font-size: 50px;
}

h3 {
    font-size: 40px;
    /* padding-top: 5%; */
}

.card-body {
    font-size: 25px;
    padding-top: 2%;
}

.h2 {
    background-color: black;
    border: black;
}

.forecast {
    background-color: rgb(0, 110, 255);
    color: white;
}
